**/__pycache__/
lightning_logs/
.ipynb_checkpoints/
*.egg-info
.pyc
results*
logs*
recon.*
dataset/
**/span.log
wandb/*
*.png
bitvae_results
checkpoints
labels
.idea/
lm-evaluation-harness/
fast-hadamard-transform/
